<%= render 'shared/banner' %>
<div class="main-container">
  <div class="row-home">
    <% @wagoners.each do |wagoner| %>
      <div class="col-6 my-5">
        <!-- Element card -->

        <div class="card" style="width: 18rem;">
          <div class="card-image-height">
            <%= cl_image_tag(wagoner.avatar) %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= wagoner.github_name %></h5>
            <p class="card-text">
              <%= wagoner.description %>
            </p>
            <%= link_to "Plus de détails", wagoner_path(wagoner), class: 'card-link btn btn-primary' %>
          </div>
        </div>

      </div>
    <% end %>
  </div>



  <div
    id="map"
    style="width: 100%;
    height: 600px; margin: 20px 0px; position: sticky; top: 0;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key = "<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>



