<div class="container">


  <div class="container mt-3">
    <h1>Louez-moi</h1>

    <div class="cards">
      <div class="card">
        <div class="card-image-product">
          <%= cl_image_tag(@wagoner.avatar) %>
        </div>
        <div class="card-body">
          <p class="card-text">
            <h2><%= @wagoner.github_name %></h2>
            <p><strong>Description:</strong> <%= @wagoner.description%>.</p>
            <p><strong>Price:</strong> <%= @wagoner.price%>€/jour</p>
            <p><%= display_stars(@wagoner.rating) %></p></p>
          </div>
        </div>


        <div class="form">

          <%= simple_form_for [@wagoner, @booking] do |f| %>
          <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Je réserve mon wagoner", class: "btn btn-primary" %>
          <% end %>
          <br>
          <%= link_to "Revenir aux Wagoners", wagoners_path, class: "btn btn-outline-secondary btn-sm" %>
        </div>
      </div>
    </div>
